**/LEXER.jar
**/*.class
**/Lexer.java
**/Parser.java
**/TokenNames.java
**/PARSER.jar
EX3/LINUX_COMMAND_LINE/.atom-build.yml
EX3/.idea/.name
EX3/.idea/misc.xml
EX3/.idea/modules.xml
EX3/.idea/workspace.xml
EX3/HW3.iml
